<div class="doc-content" layout="column">
    <div flex layout="column">

        <section class="demo-container md-whiteframe-z1 {{showSourceClass}}">

            {{#md-toolbar classNames='demo-toolbar'}}
                <div class="md-toolbar-tools">
                    <span>Basic Usage</span>
                    <span flex></span>
                    {{#md-button action='showSource' layoutType="row" layout-align="center center" style='min-width: 72px;'}}
                        {{md-icon md-svg-src='images/icons/ic_visibility_24px.svg' style='margin: 0 4px 0 0;'}}
                        <span>Source</span>
                    {{/md-button}}
                </div>
            {{/md-toolbar}}

            {{code-content sourceFiles=sourceFiles showSource=showSource}}

            <demo-include class="buttondemoBasicUsage">

                <div class="demo-content">

                    <div class="display-content">
{{! BEGIN-SNIPPET input --}}
<md-content class="md-padding" layout="row" layout-sm="column">
    {{#md-input-container value=user.title}}
        <label>Title</label>
        {{md-input }}
    {{/md-input-container}}
    {{#md-input-container value=user.email}}
        <label>Email</label>
        {{md-input type="email"}}
    {{/md-input-container}}
</md-content>

<md-content class="md-padding">
    <form name="userForm">

        <div layout layout-sm="column">
            {{#md-input-container style="width:80%" value=user.company}}
                <label>Company (Disabled)</label>
                {{md-input disabled=true}}
            {{/md-input-container}}


            {{#md-input-container flex='' value=user.submissionDate}}
                <label>Submission Date</label>
                {{md-input type="date"}}
            {{/md-input-container}}
        </div>


        <div layout layout-sm="column">
            {{#md-input-container flex='' value=user.firstName }}
                <label>First Name</label>
                {{md-input}}
            {{/md-input-container}}
            {{#md-input-container flex='' value=theMax}}
                <label>Last Name</label>
                {{md-input }}
            {{/md-input-container}}
        </div>

        {{#md-input-container flex='' value=user.address}}
            <label>Address</label>
            {{md-input}}
        {{/md-input-container}}

        {{#md-input-container value=user.address2 md-no-float=''}}
            {{md-input placeholder="Address 2"}}
        {{/md-input-container}}

        <div layout layout-sm="column">
            {{#md-input-container flex='' value=user.city}}
                <label>City</label>
                {{md-input}}
            {{/md-input-container}}
            {{#md-input-container flex='' value=user.state}}
                <label>State</label>
                {{md-input}}
            {{/md-input-container}}
            {{#md-input-container flex='' value=user.postalCode isInvalid=hasPostalCodeErrors as |ic|}}
                <label>Postal Code</label>
                {{md-input }}
                {{#if ic.displayInvalid}}
                    <md-input-messages>
                        {{#each postalCodeValidations as |message|}}
                            <md-input-message>{{message}}</md-input-message>
                        {{/each}}
                    </md-input-messages>
                {{/if}}

            {{/md-input-container}}
        </div>

        {{user.postalCode}}

        {{#md-input-container flex='' value=user.biography}}
            <label>Biography</label>
            {{md-textarea columns="1" md-maxlength="150"}}
        {{/md-input-container}}

    </form>
</md-content>
{{! END-SNIPPET --}}
                    </div>

                </div>


            </demo-include>
        </section>
        <section class="demo-container {{showSourceClassIcons}}">

            {{#md-toolbar classNames='demo-toolbar'}}
                <div class="md-toolbar-tools">
                    <span>Icons</span>
                    <span flex></span>
                    {{#md-button action='showSourceIcons' layoutType="row" layout-align="center center" style='min-width: 72px;'}}
                        {{md-icon md-svg-src='images/icons/ic_visibility_24px.svg' style='margin: 0 4px 0 0;'}}
                        <span>Source</span>
                    {{/md-button}}
                </div>
            {{/md-toolbar}}

            {{code-content sourceFiles=sourceFilesIcons showSource=showSourceIcons}}


            <demo-include class="md-whiteframe-z1 inputdemoIcons">

                <div class="demo-content">

                    <div class="display-content">

{{! BEGIN-SNIPPET input-Icons --}}
<md-content class="md-padding">
    {{#md-input-container class="md-icon-float" value=user2.name}}
        <label>Name</label>
        {{md-icon md-svg-src="icons/ic_person_24px.svg" class="name"}}
        {{md-input type="text"}}
    {{/md-input-container}}
    {{#md-input-container md-no-float='' value=user2.phon}}
        {{md-icon md-svg-src="icons/ic_phone_24px.svg"}}
        {{md-input type="text" placeholder="Phone Number"}}
    {{/md-input-container}}
    {{#md-input-container isInvalid=emailInvalid value=user2.email}}
        {{md-icon md-svg-src="icons/ic_email_24px.svg" class="email"}}
        {{md-input type="email" placeholder="Email (required)" required="required"}}
    {{/md-input-container}}
    {{#md-input-container md-no-float=''}}
        {{md-icon md-svg-src="icons/ic_place_24px.svg"}}
        {{md-input type="text" placeholder="Address"}}
    {{/md-input-container}}
</md-content>
{{! END-SNIPPET --}}

                    </div>

                </div>


            </demo-include>
        </section>

    </div>
</div>

