<div class="doc-content" layout="column">
    <div flex layout="column">

        <section class="demo-container md-whiteframe-z1 {{showSourceClass}}">

            {{#md-toolbar classNames='demo-toolbar'}}
                <div class="md-toolbar-tools">
                    <span>Basic Usage</span>
                    <span flex></span>
                    {{#md-button action='showSource' layoutType="row" layout-align="center center" style='min-width: 72px;'}}
                        {{md-icon md-svg-src='images/icons/ic_visibility_24px.svg' style='margin: 0 4px 0 0;'}}
                        <span>Source</span>
                    {{/md-button}}
                </div>
            {{/md-toolbar}}

            {{code-content sourceFiles=sourceFiles showSource=showSource}}

            <demo-include class="buttondemoBasicUsage">

                <div class="demo-content progressCircularDemo1">

                    <div class="display-content">
{{! BEGIN-SNIPPET progress-circular --}}
<div layout="column" layout-margin style="padding:25px;">

    <h4 style="margin-top:10px">Determinate</h4>
    <p>For operations where the percentage of the operation completed can be determined, use a determinate indicator. They give users a quick sense of how long an operation will take.</p>
    <div layout="row" layout-sm="column" layout-align="space-around">
        {{md-progress-circular md-mode="determinate" value=determinateValue}}
    </div>

    <h4>Indeterminate</h4>
    <p>For operations where the user is asked to wait a moment while something finishes up, and it’s not necessary to expose what's happening behind the scenes and how long it will take, use an indeterminate indicator.</p>
    <div layout="row" layout-sm="column" layout-align="space-around">
        {{md-progress-circular md-mode="indeterminate"}}
    </div>

    <h4>Theming</h4>

    <div layout="row" layout-sm="column" layout-align="space-around">
        {{md-progress-circular class="md-hue-2" md-mode="indeterminate"}}
        {{md-progress-circular class="md-accent" md-mode="indeterminate"}}
        {{md-progress-circular class="md-accent md-hue-1" md-mode="indeterminate"}}
        {{md-progress-circular class="md-warn md-hue-3" md-mode="indeterminate"}}
        {{md-progress-circular class="md-warn" md-mode="indeterminate"}}
    </div>


</div>
{{! END-SNIPPET --}}

                    </div>
                </div>
            </demo-include>
        </section>
    </div>
</div>
