<div class="doc-content" layout="column">
    <div flex layout="column">

        <section class="demo-container md-whiteframe-z1 {{showSourceClass}}">

            {{#md-toolbar classNames='demo-toolbar'}}
                <div class="md-toolbar-tools">
                    <span>Basic Usage</span>
                    <span flex></span>
                    {{#md-button action='showSource' layoutType="row" layout-align="center center" style='min-width: 72px;'}}
                        {{md-icon md-svg-src='images/icons/ic_visibility_24px.svg' style='margin: 0 4px 0 0;'}}
                        <span>Source</span>
                    {{/md-button}}
                </div>
            {{/md-toolbar}}

            {{code-content sourceFiles=sourceFiles showSource=showSource}}



            <demo-include class="radioButtondemoBasicUsage">

{{! BEGIN-SNIPPET radio-button --}}
<form>
    <p>Selected Value: <span class="radioValue">{{ data.group1 }}</span></p>


    {{#md-radio-button value="Apple" selected=data.group1 class="md-primary"}}Apple{{/md-radio-button}}
    {{#md-radio-button value="Banana" selected=data.group1}}Banana{{/md-radio-button}}
    {{#md-radio-button value="Mango" selected=data.group1}}Mango{{/md-radio-button}}


    <hr/>

    <p>Selected Value: <span class="radioValue">{{ data.group2 }}</span></p>


    {{#each radioData as |d|}}
        {{#md-radio-button value=d.value
        class="md-primary"
        selected=data.group2
        disabled=d.isDisabled}}
            {{ d.label }}
        {{/md-radio-button}}
    {{/each}}




    <p>
        {{#md-button class="md-raised" action='addItem' type="button"}}Add{{/md-button}}
        {{#md-button class="md-raised" action='removeItem' type="button"}}Remove{{/md-button}}
    </p>

    <hr/>

    <p style="margin-bottom: 0;">Graphic radio buttons need to be labeled with the
        <code>aria-label</code> attribute.</p>

    <p style="margin-top: 0;">Selected Avatar: <span class="radioValue">{{ data.group3 }}</span></p>

    {{#each avatarData as |it|}}
        {{#md-radio-button value=it.value
        selected=data.group3
        aria-label=it.title}}
            {{md-icon md-svg-icon=it.id}}
        {{/md-radio-button}}
    {{/each}}

</form>
{{! END-SNIPPET --}}

            </demo-include>


        </section>
    </div>
</div>

