<div class="doc-content" layout="column">
    <div flex layout="column">

        <section class="demo-container md-whiteframe-z1 {{showSourceClass}}">

            {{#md-toolbar classNames='demo-toolbar'}}
                <div class="md-toolbar-tools">
                    <span>Basic Usage</span>
                    <span flex></span>
                    {{#md-button action='showSource' layoutType="row" layout-align="center center" style='min-width: 72px;'}}
                        {{md-icon md-svg-src='images/icons/ic_visibility_24px.svg' style='margin: 0 4px 0 0;'}}
                        <span>Source</span>
                    {{/md-button}}
                </div>
            {{/md-toolbar}}

            {{code-content sourceFiles=sourceFiles showSource=showSource}}

            <demo-include class="toastdemoBasicUsage">

                <div class="demo-content buttonsDemo1">

                    <div class="display-content">

{{! BEGIN-SNIPPET toast --}}
<div layout-fill layout="column" class="inset">



    {{#each toastNotifications as |toast|}}
        {{md-toast toast=toast}}
    {{/each}}



    <p>Toast can be dismissed with a swipe, a timer, or a button.</p>

    <div layout="row" layout-sm="column" layout-align="space-around">
        <div style="width:50px"></div>
        {{#md-button action="showCustomToast"}}
            Show Custom
        {{/md-button}}
        {{#md-button action="showSimpleToast"}}
            Show Simple
        {{/md-button}}
        {{#md-button class="md-raised" action="showActionToast"}}
            Show With Action
        {{/md-button}}
        <div style="width:50px"></div>
    </div>

    <div>
        <br/>
        <b>Toast Position: "{{toastPositionText}}"</b>
        <br/>
        {{#each toastPosition as |name|}}
            {{#md-checkbox checked=name.enabled}}
                {{name.name}}
            {{/md-checkbox}}
        {{/each}}

        {{#md-button class="md-primary md-fab md-fab-bottom-right"}}
            FAB
        {{/md-button}}
        {{#md-button class="md-accent md-fab md-fab-top-right"}}
            FAB
        {{/md-button}}
    </div>
</div>

{{! END-SNIPPET }}

                    </div>
                </div>
            </demo-include>
        </section>
    </div>
</div>
